// Colors 

$base-grey: #e2e2e2;
$base-blue: #0473e6;



$border-color: $base-grey;



// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;